# Assign PR to Author
# https://github.com/samspills/assign-pr-to-author

name: Auto Assign PR

on:
  pull_request:
    types: [opened]

jobs:
  assignAuthor:
    runs-on: ubuntu-latest
    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@cba0d00b1fc9a034e1e642ea0f1103c282990604
      with:
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443

    - name: Auto Assign PR
      uses: samspills/assign-pr-to-author@b313feb250ff414d3aff26525b986f080ee7bd7a
      with:
        repo-token: '${{ secrets.GITHUB_TOKEN }}'
